@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --container-width: 650px;
    --container-height: 650px;
    --bgColor: #1a1a1a;
    --color-light: #ddd;
}

body{
    height: 100vh;
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-light);
}

header{
    text-align: right;
    padding-bottom: 20px;
    font-size: 2em;
    width: var(--container-height);
}
/* CONTROLS */

.controls{
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.color-picker{
    display: flex;
    gap: 4px;
}

.controls .buttons{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.buttons button{
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 0px 2px var(--color-light);
}

.buttons button:hover{
    background-color: #ccc;
}
.buttons button:active{
    background-color: #ccc; 
}


/* GRID CONTAINER */

.board{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container{
    width: var(--container-width);
    height: var(--container-height);

    background-color: #aaa;
    box-shadow: 0px 0px 5px #ddd;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 1px;
}

.row,
.square{
    flex-grow: 1;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.square{
    transition: background-color 0.1s ease;
}

/* SIZE CONTROL SECTION */

.size input{
    width: 350px;
}
